.container
  %h2 Users
  .well
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Name
          %th Email
      %tbody
        - @users.each do |user|
          %tr
            = render user
