-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-material-blue-600.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Awesome Surveys', root_path, :class => "navbar-brand"
      .navbar-brand
      %ul.nav.navbar-nav
        %li{:class => active_class(root_path)}
          = link_to 'Home', root_path
        %li{:class => active_class(surveys_path)}
          = link_to 'Surveys', surveys_path
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'